<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %} 
        <h1>{{producto['titulo_oferta']}}</h1>
        <button type="button" onclick="location.href = '{{url_for('mercado.solicitar_datos',id_oferta = producto['id_oferta'] )}}'">Solicitar Datos</button>

        {% for calificacion in calificaciones %} 
            <h3>Nota: {{calificacion['valor_calificacion']}}</h3>
            <h4>Descripcion: {{calificacion['des_calificacion']</h4>
        {% endfor %}
    {% endblock %}
</body>
</html>