<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block content%}

        {% for producto in productos %}
            <article>
                <h2> 
                    <a href="{{url_for('mercado.descripcion',id_oferta=producto['id_oferta'])}}">{{producto['titulo_oferta']}}</a>
                </h2>
                <h4>Descripcion: {{producto['des_oferta']}}</h4>
                <h4>Precio: {{producto['precio_oferta']}}</h4>
            </article>

        {%endfor%}

    {%endblock%}
</body>
</html>