<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for solicitud in solicitudes %} 
    <article>
        <p>
            {{solicitud['email_solicitante']}} solicito tus datos<br> 
            Por la oferta: {{solicitud['titulo_oferta']}}
            <button type="button" onclick="location.href = '{{url_for('mercado.aceptar_solicitud') }}'">Aceptar Solicitud</button>
        </p>

    </article>
        
    {% endfor %} 

</body>
</html>