<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Nombre: {{usuario['nombre']}}</h1>
    <h1>Apellido: {{usuario['apellido']}}</h1>
    <h1>Email: {{usuario['email']}}</h1>
    <h1>Celular: {{usuario['celular']}}</h1>
    <h1>Contacto alter: {{usuario['contacto_alter']}}</h1>

    <form action="{{url_for('usuario.passwd_change') }}" method = "POST"> 
        <input name = "actual_passwd" type="password" placeholder="Contraseña actual">
        <input name = "new_passwd" type="password" placeholder="Nueva contraseña">
        <input name = "repe_passwd" type="password" placeholder="Repetir contraseña">
        <input type="submit" value="Cambiar contraseña">
    </form>

    <form action="{{url_for('usuario.cambiar_nombre') }}" method = "POST"> 
        <input name = "nombre" type="text" placeholder="Nombre">
        <input type="submit" value="Cambiar nombre">
    </form>

    <form action="{{url_for('usuario.cambiar_apellido') }}" method = "POST"> 
        <input name = "apellido" type="text" placeholder="Apellido">
        <input type="submit" value="Cambiar apellido">
    </form>
    <form action="{{url_for('usuario.cambiar_celular') }}" method = "POST"> 
        <input name = "celular" type="text" placeholder="Celular">
        <input type="submit" value="Cambiar celular">
    </form>
    <form action="{{url_for('usuario.cambiar_contacto_alter') }}" method = "POST"> 
        <input name = "contacto_alter" type="text" placeholder="Contacto alternativo">
        <input type="submit" value="Cambiar contacto">
    </form>
    
</body>
</html>