<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %} 
    <h1>Mis Ofertas Subidas</h1>
        {%for oferta in ofertas%}
            <h3>{{oferta['titulo_oferta']}}</h3>
            <h4>Descripcion: {{oferta['des_oferta']}}</h4>
            <h4>Precio: {{oferta['precio_oferta']}}</h4>
            <button type="button" onclick="location.href = '{{url_for('usuario.eliminar_oferta',id_oferta = oferta['id_oferta'] )}}'">Borrar oferta</button>
        {%endfor%}
    {%endblock%}
</body>
</html>